---
import Layout from '../layouts/Layout.astro';
import TgrIcon from '../components/TgrIcon.astro';
---

<Layout title="TGR Group" desc="TGR Group">
  <div class="hero min-h-screen bg-gradient-to-br from-primary to-secondary text-primary-content">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <TgrIcon classSvg="h-36 mx-auto my-6 fill-primary-content" classT="fill-neutral" />
        <h1 class="text-5xl font-bold">Hello, world</h1>
        <div class="py-6">
          <p>TGR Groupは、学生が主体となって、Web開発などのプロジェクトに取り組むグループです。プログラミングについて話したり、質問したりできる自由な場所です。</p>
          <p>私たちと一緒に"何か"を作ってみませんか？</p>
        </div>
        <button class="btn">Join us</button>
      </div>
    </div>
  </div>
</Layout>

<script>
const navbar = document.getElementById('navbar')
window.onload = () => {
  navbar.classList.remove('bg-base-100')
  navbar.classList.add('text-primary-content')
}
window.onscroll = () => {
  if (window.pageYOffset > 100) {
    navbar.classList.remove('text-primary-content')
    navbar.classList.add('bg-base-100')
  } else if (window.pageYOffset < 50) {
    navbar.classList.remove('bg-base-100')
    navbar.classList.add('text-primary-content')
  }
}
</script>
