---
export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja" data-theme="winter" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={desc} />
    <title>{title}</title>
  </head>
  <body class="h-full">
    <div class="navbar bg-base-100">
      <a class="btn btn-ghost normal-case text-xl">TGR Group</a>
    </div>
    <slot />
    <footer class="footer footer-center p-4 bg-neutral text-neutral-content sticky top-[100vh]">
      <div>
        <p>&copy; 2023 TGR Group</p>
      </div>
    </footer>
  </body>
</html>
